<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout :: head">
<title>Contas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}"></link>
</head>
<body th:include="layout :: body">
  <div th:fragment="content">
    <fieldset>
      <legend>Cadastrar cliente</legend>
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="#" th:action="@{/cliente}" th:object="${formCliente}" method="post" class="form">
            <div class="form-group">
              <label>Nome:</label>
              <input type="text" th:field="*{nome}" class="form-control"></input>
              <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</span>
            </div>
            <div>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Lista de Clientes</legend>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cliente: ${listaClientes}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nome}"></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</body>
</html>